@model List<CarRent.Models.ViewModels.Review>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <section class="bg-light py-5 py-xl-8">
        <div class="container overflow-hidden">
            <div class="row gy-4 gy-md-0 gx-xxl-5">
                <div class="col-12 col-md-4">
                    <div class="card border-0 border-bottom border-primary shadow-sm">
                        <div class="card-body p-4 p-xxl-5">
                            <figure>
                                <figcaption>
                                    <div class="bsb-ratings text-warning mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                                    <h4 class="mb-2 text-capitalize">@item.Username</h4>
                                    <blockquote class="bsb-blockquote-icon mb-3">@item.ReviewText</blockquote>
                                    <p>Kiraladığı Araç: <span class="fw-bolder"> @item.Brand @item.Model</span> </p>
                                    <p>Firma: <span class="fw-bolder"> @item.CompanyName</span></p>
                                    <p>Yorum Tarihi: <span class="fw-bolder"> @item.ReviewDate</span> </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

