@model  List<CarRent.Models.ViewModels.ReservationModel>

@{
    //ViewBag.Title = "Rezervation";
}

@foreach (var item in Model)
{
    <div>

        <input class="form-control m-3" type="text" placeholder="Arac Markası: @item.Brand">
        <input class="form-control m-3" type="text" placeholder="Modeli: @item.Model">
        <input class="form-control m-3" type="text" placeholder="Model Yılı: @item.Year">
        <input class="form-control m-3" type="text" placeholder="Günlük Ücreti: @item.DailyRate">
        <input class="form-control m-3" type="text" placeholder="En erken müsaitlik zamanı: @item.AvailableFrom">
        <input class="form-control m-3" type="text" placeholder="En geç müsaitlik zamanı: @item.AvailableTo">

        Start: <input type="text" id="my_date_picker1">
        End Date: <input type="text" id="my_date_picker2">
                  <script>
                      $(document).ready(function () {
                       var enErken = $.datepicker.parseDate('dd.mm.yy','@item.AvailableFrom');
                       var enGec = $.datepicker.parseDate('dd.mm.yy', '@item.AvailableTo');
                          window.alert(enErken);
                          window.alert(enGec);
                $(function () {
                    $("#my_date_picker1").
                        datepicker({
                            dateFormat: 'dd.mm.yy', minDate: enErken
                        });
                });

                $(function () {
                    $("#my_date_picker2").
                        datepicker({ dateFormat: 'dd.mm.yy', maxDate: enGec });
                });

                $('#my_date_picker1').change(function () {
                    startDate = $(this).datepicker('getDate');
                   // $("#my_date_picker1").datepicker("option", "minDate", enErken);
                    $("#my_date_picker2").datepicker("option", "minDate", startDate);
                })

                $('#my_date_picker2').change(function () {
                    endDate = $(this).datepicker('getDate');
                   // $("#my_date_picker2").datepicker("option", "maxDate", startDate);
                    $("#my_date_picker1").datepicker("option", "maxDate", endDate);
                })
            })
                  </script>
    </div>
    @*@item.VehicleID*@

}
    @*@ViewBag.UserID
    @ViewBag.Username*@






