@model  List<CarRent.Models.ViewModels.ReservationModel>

@{
    //ViewBag.Title = "Rezervation";
}

@foreach (var item in Model)
{
    <div>
        <input class="form-control m-3" type="text" placeholder="Arac Markası: @item.Brand">
        <input class="form-control m-3" type="text" placeholder="Modeli: @item.Model">
        <input class="form-control m-3" type="text" placeholder="Model Yılı: @item.Year">
        <input class="form-control m-3" type="text" placeholder="Günlük Ücreti: @item.DailyRate">
        <input class="form-control m-3" type="text" placeholder="En erken müsaitlik zamanı: @item.AvailableFrom">
        <input class="form-control m-3" type="text" placeholder="En geç müsaitlik zamanı: @item.AvailableTo">

        Start: <input type="text" id="my_date_picker1">
        End Date: <input type="text" id="my_date_picker2">
        <a class="btn btn-info kirala gap-4" href="#">Aracı Kirala</a>
       @* <script src="~/Scripts/jquery-3.7.0.min.js"></script>*@
        <script>
        $(document).ready(function () {
            var enErken = $.datepicker.parseDate('dd.mm.yy', '@item.AvailableFrom');
            var enGec = $.datepicker.parseDate('dd.mm.yy', '@item.AvailableTo');

            $("#my_date_picker1").datepicker({
                dateFormat: 'dd.mm.yy',
                minDate: enErken,
                onSelect: function (selectedDate) {
                    var startDate = $(this).datepicker('getDate');
                    $("#my_date_picker2").datepicker("option", "minDate", startDate);
                }
            });

            $("#my_date_picker2").datepicker({
                dateFormat: 'dd.mm.yy',
                maxDate: enGec,
                onSelect: function (selectedDate) {
                    var endDate = $(this).datepicker('getDate');
                    $("#my_date_picker1").datepicker("option", "maxDate", endDate);
                }
            });

            $(".kirala").click(function (e) {
                e.preventDefault();

                var startDate = $("#my_date_picker1").val();
                var endDate = $("#my_date_picker2").val();
                alert(startDate);
                alert(endDate);
                alert(typeof (startDate));
                var userID = @ViewBag.UserID;
                var vehicleID = @item.VehicleID;
                alert(userID);
                alert(vehicleID);



                $.ajax({
                    type: "POST",
                    url: "/Rent/AddRent/"+2,
                    data: {
                        userID: userID,
                        startDate: startDate,
                        endDate: endDate,
                        vehicleID: vehicleID
                    },
                    success: function () {
                        alert("Arac Kiralama bilgisi ekleniyor!");
                        window.location.replace("/Car/Index/");
                    },
                    error: function () {
                        alert("Hata olustu! Lütfen bilgilerinizi kontrol edin.");
                    }
                });
            });
        });
        </script>
    </div>
}



@*@item.VehicleID*@
@*@ViewBag.UserID
    @ViewBag.Username*@


                @*///* var start = $.datepicker.parseDate('dd.mm.yy', 'startDate');
                //var end = $.datepicker.parseDate('dd.mm.yy', 'endDate');*/
                //alert(start);
                //alert(end);*@
